@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-area {
  @apply h-full max-h-[100dvh] min-h-[100dvh] overflow-y-auto overflow-x-hidden;
}

.content-wrapper {
  @apply relative z-[1] w-full px-6 pb-8 pt-10 md:pt-7 lg:px-8 lg:pb-16 lg:pt-20;
}

.content {
  @apply mx-auto w-full lg:mb-0 lg:max-w-3xl;
}

.blueprint-layout::before {
  @apply pointer-events-none absolute left-0 top-0 w-screen;
  content: "";
  height: 100dvh;
  z-index: -100;
  background:
    linear-gradient(90deg, hsla(0, 32%, 73%, 0.13) 1px, transparent 1px 60px)
      50% 50% / 60px 60px,
    linear-gradient(hsla(0, 32%, 73%, 0.13) 1px, transparent 1px 60px) 50% 50% /
      60px 60px;
  mask: linear-gradient(-15deg, transparent 30%, white);
}

.text-spotlight {
  text-shadow:
    0 5px 20px rgba(0, 87, 255, 0.2),
    0 -5px 15px rgba(255, 90, 0, 0.15),
    0 0 8px rgba(255, 255, 255, 0.3);
}

@layer base {
  :root {
    --chart-1: 210 10% 10%; /* eerie dark */
    --chart-2: 210 10% 12%; /* eerie light */
    --chart-3: 210 10% 14%; /* metal */
    --chart-4: 168 64% 50%; /* pearl light */
    --chart-5: 210 17% 31%; /* grey */
  }

  .dark {
    --chart-1: 168 21% 45%; /* pearl dark */
    --chart-2: 210 17% 31%; /* grey */
    --chart-3: 210 6% 8%; /* chinese black */
    --chart-4: 168 64% 50%; /* pearl light */
    --chart-5: 210 10% 10%; /* eerie dark */
  }
}
