@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-area {
  @apply h-full max-h-[100dvh] min-h-[100dvh] overflow-x-hidden overflow-y-auto;
}

.content-wrapper {
  @apply z-[1] w-full px-6 pb-8 pt-10 md:pt-7 lg:px-8 lg:pb-16 lg:pt-20 relative;
}

.content {
  @apply mx-auto w-full lg:mb-0 lg:max-w-3xl;
}

.blueprint-layout::before {
  @apply top-0 left-0 w-screen pointer-events-none absolute;
  content: '';
  height: 100dvh;
  z-index: -100;
  background:
    linear-gradient(90deg, hsla(0, 32%, 73%, 0.13) 1px, transparent 1px 60px)
      50% 50% / 60px 60px,
    linear-gradient(hsla(0, 32%, 73%, 0.13) 1px, transparent 1px 60px) 50% 50% /
      60px 60px;
  mask: linear-gradient(-15deg, transparent 30%, white);
}

.text-spotlight {
  text-shadow:
    0 5px 20px rgba(0, 87, 255, 0.2),
    0 -5px 15px rgba(255, 90, 0, 0.15),
    0 0 8px rgba(255, 255, 255, 0.3);
}
